<div class="home">
    <h1>Üdvözöllek az oldalon!</h1>
    <p>Kedves {{ username }}, örülünk, hogy itt vagy! válasz az alábbi menüpontokból</p>
    <mat-chip-set aria-label="Fish selection">
        <mat-chip routerLink="/teachers">tanárok</mat-chip>
        <mat-chip routerLink="/students">tanulók</mat-chip>
        <mat-chip routerLink="/subject" disabled>Tantárgyak</mat-chip>
        <mat-chip routerLink="/courses" disabled>Kurzusok</mat-chip>
      </mat-chip-set>
  </div>

  
  